.about__name {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
  width: 506px;
}
.about__me {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
  max-width: 497px;
  margin-bottom: 28px;
  margin-top: 0px;
}
.about__button {
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #fff;

  background-color: #ff6464;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  width: 208px;
  transition: color 250ms linear;
  margin-bottom: 70px;
}
.about__button:hover {
  transition: background 250ms linear;
  background-color: #fc2727;
}
.about__text {
  background-color: #fff;
}
.about__section {
  padding-top: 120px;
}
.about__photo-item {
  background-color: #edf7fa;
}

/* ADAPTIVE */

.about__name {
  @media screen and (max-width: 375px) {
    max-width: 312px;
    margin: 0 auto;
    margin-bottom: 21px;
  }
}
.about__me {
  @media screen and (max-width: 375px) {
    max-width: 328px;
    margin: 0 auto;
    margin-bottom: 27px;
  }
}
.about__button {
  @media screen and (max-width: 375px) {
    max-width: 208px;
    margin: 0 auto;
    margin-bottom: 58px;
  }
}
.about__photo-item {
  @media screen and (max-width: 375px) {
    max-width: 175px;
  }
}
