.footer__section {
  margin: 0 auto;
  max-width: 750px;
}
.footer__container-icons {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 135px;
}
.footer__icons-item-another-linkedin {
  margin-right: 35px;
}
.footer__under-footer-item {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;

  margin-bottom: 55px;
}
